
/* Styling font type, adding gradient background to make the visual more appealing than using monotone color*/
* {
    max-width: 100%;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-attachment: fixed;
    font-family: Arial, sans-serif;

}

body {
    margin: 0;
    padding: 0;
}

/* Styling header and adding background gradient to make it appear faded in*/
header {
    text-align: center;
    color: bisque;
    padding: 20px;
}

/* Adjusting navbar items such as color, underline and placement.*/
nav a {
    font-size: 150%;
    color: bisque;
    text-decoration: none;
    font-weight: 600;
    padding: 20px;
}

/* Adding hover feature to items in navbar. color will change once user hover after .5s*/

nav :hover {
    color: black;
    transition: .5s;
}

.Socials i {
    font-size: 25px;
}

/* Adjusting position of profile/image on frontpage*/
.profile img {
   width: 50%;
   height: auto;
    border: 3px solid rgba(242, 220, 220, 0.181);
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}




#front-content {
    width: 40%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    border: 3px solid #c0cad449;
    padding: 8px;
    border-radius: 5px;
    color: bisque;
}

legend {
    font-weight: bold;
    color: bisque;
    text-align: center;
    font-size: 150%;

}
/* Alligning and centering image (ViaLogo) to fit the fieldset*/
.Educationcontent img {
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.Educationcontent{
    width: 80%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.Educationcontent ul li {
    font-weight: 800;
    font-size: 100%;
    margin-bottom: 10px;
    list-style: none;
    padding: 0;
}

.Educationcontent p {
    font-style: italic;
    font-size: 100%;
    font-weight: 100;
    word-spacing: 1px;
}

#mapVIA {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-left: 25%;
}

/* If the screen width is lower than 800px the nav socials will dissapear to ensure it wont overlap with the other content*/
@media screen and (max-width: 800px) {
    .Socials i {
    display: none;
    
} 
}
