
/* Styling font type, adding gradient background to make the visual more appealing than using monotone color*/
* {
    max-width: 100%;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Styling header and adding background gradient to make it appear faded in*/
header {
    text-align: center;
    color: bisque;
    padding: 20px;
}

/* Adjusting navbar items such as color, underline and placement.*/
nav a {
    font-size: 150%;
    color: bisque;
    text-decoration: none;
    font-weight: 600;
    padding: 20px;
}

/* Adding hover feature to items in navbar. color will change once user hover after .5s*/

nav :hover {
    color: black;
    transition: .5s;
}

.Socials i {
    font-size: 25px;
}

/* Adjusting position of profile/image on frontpage*/
.profile img {
    border: 3px solid rgba(242, 220, 220, 0.181);
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

#courses img {
    width: 20%;
    height: auto;
    border-radius: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;

}


/*Centering content on all pages */
.front-content, .about-content, .Educationcontent {
    width: 40%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.front-content h2, h3 {
 text-align: center;
}
/* Adding transparant border to fieldset boxes and adjusting color of content text */
fieldset {
    border: 3px solid #c0cad449;
    padding: 8px;
    border-radius: 5px;
    color: bisque;
}

fieldset a {
    color: bisque;
}

/* styling content of legend element, adjusting position and color */
legend {
    font-weight: bold;
    color: bisque;
    text-align: center;
    font-size: 150%;

}


/* Alligning and centering image (ViaLogo) */
.Educationcontent img {
    width: 40%;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}


.Educationcontent ul {
    font-weight: 600;
    font-size: 120%;
    
}

.Educationcontent p {
    font-style: italic;
    font-size: 100%;
    word-spacing: 2px;
}

#video video {
    border-radius: 50%;
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#about-img {
    width: 40%;
    height: auto;
    border-radius: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* If the screen width is lower than 800px the nav socials will dissapear to ensure it wont overlap with the other content*/
@media screen and (max-width: 1000px) {
    .Socials i {
    display: none;
    
} 
}
